.suits-container {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.suits-container .title-p {
  text-align: center;
  font-size: 28px;

  letter-spacing: 0.4rem;

  text-transform: uppercase;
  font-weight: bold;

  margin-top: 18px;

  color: #413838;
}

.suits-container .suite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 28px 0;

  height: 250px;
}

.suits-container .suite .info .suite-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.suits-container .suite-img img {
  height: 250px;
  width: 400px;

  object-fit: cover;

  vertical-align: middle;
}

.suits-container .suite .info {
  padding: 24px;

  width: 25vw;
  min-width: 300px;

  height: 100%;
  background-color: #120309;
  color: #f4f4f4;
}

.suits-container .suite .info .suite-name {
  font-size: 18px;
  font-weight: 500;
}

.suits-container .suite .info .suite-name .title {
  color: #f4f4f4;
  font-weight: bold;
  font-size: 28px;
}

.suits-container .suite .info .value-detail {
  font-weight: 500;
  font-size: 16px;
}

.suits-container .suite .info .value-detail span {
  font-size: 8px;
  font-weight: 500;
}

.suits-container .suite .info .value-detail .value {
  font-size: 18px;
  font-weight: bold;
}

.suits-container .suite .info .description {
  font-size: 12px;
  font-weight: 400;
  margin: 12px 0;
  text-align: start;
}

@media (max-width: 780px) {
  .suits-container .suite {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 450px;
    margin: 5.4rem 0;
    width: 100%;
  }

  .suits-container .suite-img img {
    height: 200px;
    width: 400px;
    object-fit: cover;
  }

  .suits-container .suite .info {
    padding: 8px 12px;

    width: 400px;
    height: 200px;
  }

  .suits-container .suite .info .description {
    margin: 4px 0;
  }
}

@media (max-width: 576px) {
  .suits-container {
    padding-bottom: 120px;
  }

  .suits-container .suite {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 450px;
    margin: 5.4rem 0;
    width: 100%;
  }

  .suits-container .suite-img img {
    height: 200px;
    width: 350px;
    object-fit: cover;
  }

  .suits-container .suite .info {
    padding: 10px 12px;

    width: 350px;

    max-height: 400px;
  }
}

@media (max-width: 400px) {
  .suits-container .suite-img img {
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  .suits-container .suite .info {
    padding: 10px 12px;

    width: 300px;

    max-height: 400px;
  }
}
